<div class="inner-bar-left">
    <div class="d-inline-block ml-3 dropright">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow mr-3 btn-sm btn btn-secondary">
            <i class="fa fa-anchor"></i>
        </button>
        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="nav-link-icon lnr-inbox mr-2"></i>
                <span>
                    Inbox
                </span>
                <div class="ml-auto badge badge-pill badge-secondary">86</div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="nav-link-icon lnr-book mr-2"></i>
                <span>
                    Book
                </span>
                <div class="ml-auto badge badge-pill badge-danger">5</div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="nav-link-icon lnr-picture mr-2"></i>
                <span>
                    Picture
                </span>
            </a>
            <a disabled href="javascript:void(0);" class="dropdown-item disabled">
                <i class="nav-link-icon lnr-file-empty mr-2"></i>
                <span>
                    File Disabled
                </span>
            </a>
        </div>
    </div>
</div>
