<div class="inner-bar-left">
    <ul class="nav">
        <li class="nav-item">
            <a href="#" class="nav-link show-menu-btn">
                <i class="fa fa-align-left mr-2"></i>
                <span class="hide-text-md">Show page menu</span>
            </a>
            <a href="#" class="nav-link close-menu-btn">
                <i class="fa fa-align-right mr-2"></i>
                <span class="hide-text-md">Close page menu</span>
            </a>
        </li>
    </ul>
</div>