<div class="inner-bar-right">
    <ul class="nav">
        <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link open-right-drawer">
                <span class="hide-text-md">Show right drawer</span>
                <i class="fa fa-align-right ml-2"></i>
            </a>
        </li>
    </ul>
</div>