// User Pages

.app-logo {
  height: 17px;
  width: 68px;
  background: url('utils/images/logo.png') 50% 50% no-repeat;
}

.app-logo-inverse {
  height: 17px;
  width: 68px;
  background: url('utils/images/logo-inverse.png') 50% 50% no-repeat;
}

.app-login-box {
  .app-logo {
    margin-bottom: $layout-spacer-lg;
  }

  h4 {
    margin-bottom: $layout-spacer-x;
    font-weight: normal;

    div {
      opacity: .6;
    }

    span {
      font-size: $font-size-lg;
    }
  }
}
