{{> Components/header-mobile }}
<div class="app-header">
    <div class="page-title-heading">
        {{ htmlWebpackPlugin.options.title }}
        <div class="page-title-subheading">
            {{ htmlWebpackPlugin.options.description }}
        </div>
    </div>
    <div class="app-header-right">
        {{> Components/header-right }}
    </div>
    <div class="app-header-overlay d-none animated fadeIn"></div>
</div>
