{{#> base }}
    <div class="app-main">
        {{> AppSidebar/menubar dash-analytics=this }}
        <div class="app-main__outer">
            <div class="app-main__inner">
                {{> AppHeader/header }}
                <div class="app-inner-layout app-inner-layout-page">
                    
                    <div class="app-inner-layout__wrapper">
                        <div class="app-inner-layout__sidebar">
                            <div class="app-layout__sidebar-inner dropdown-menu-rounded">
                                {{> AppMain/page-menu dash-analytics=this}}
                            </div>
                        </div>
                                            <div class="col-md-9">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body"><h5 class="card-title">Registro de Permisos</h5>
                                                        <form class="" method="post" id="formsegmanpermisos">
                                                                    <div class="position-relative form-group"><label
                                                                    for="segmanperemp" class="">Empresa</label><select
                                                                    name="select" id="segmanperemp"
                                                                    class="form-control">
                                                                    <option value="000"> </option>
                                                            </select></div>
                                                                <div class="position-relative form-group"><label
                                                                    for="segmanpersed" class="">Sede</label><select
                                                                    name="select" id="segmanpersed"
                                                                    class="form-control">
                                                                    <option value="000"> </option>
                                                            </select></div>
                                                                <div class="position-relative form-group"><label
                                                                    for="segmanpercar" class="">Cargo</label><select
                                                                    name="select" id="segmanpercar"
                                                                    class="form-control">
                                                                    <option value="000"> </option>
                                                            </select></div>
                                                            <div class="form-row">
                                                                <div class="col-md-4">
                                                                    <div class="position-relative form-group"><label
                                                                    for="segmanpermod" class="">Modulo</label><select
                                                                    name="select" id="segmanpermod"
                                                                    class="form-control">
                                                                    <option value="000"> </option>
                                                            </select></div>
                                                                </div>                                                                
                                                            <div class="col-md-4">
                                                                <div class="position-relative form-group"><label
                                                                    for="segmanpermen" class="">Menu</label><select
                                                                    name="select" id="segmanpermen"
                                                                    class="form-control">
                                                                    <option value="000"> </option>
                                                            </select></div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="position-relative form-group"><label
                                                                    for="segmanperite" class="">Menuitems</label><select
                                                                    name="select" id="segmanperite"
                                                                    class="form-control">
                                                                    <option value="000"> </option>
                                                            </select></div>
                                                            </div>                                                            
                                                            </div>
                                                            <div class="position-relative form-group"><label
                                                                    for="segmanitetip" class="">Tipo actividad</label>
                                                                     <div class="custom-checkbox custom-control"><input
                                                                        type="checkbox" id="segmanpertip1"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="segmanpertip1">Ingresar</label></div>
                                                                <div class="custom-checkbox custom-control"><input
                                                                        type="checkbox" id="segmanpertip2"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="segmanpertip2">Modificar</label></div>
                                                                <div class="custom-checkbox custom-control"><input
                                                                        type="checkbox" id="segmanpertip3"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="segmanpertip3">Eliminar</label></div>
                                                                <div class="custom-checkbox custom-control"><input
                                                                        type="checkbox" id="segmanpertip4"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="segmanpertip4">Listar</label></div>
                                                                    </div>   
                                                            <div class="position-relative form-group">
                                                                <button class="mt-1 btn btn-primary" type="button" name="agregarcargoper" id="agregarcargoper">Cargar</button>
                                                            </div>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body"><h5 class="card-title">Cargos Asignados</h5>
                                                    <div class="table-responsive">
                                                        <table id="segmanpertbl" class="mb-0 table">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th style="display:none;">CodModulo</th>
                                                                <th>Modulo</th>
                                                                <th style="display:none;">CodMenu</th>
                                                                <th>Menu</th>
                                                                <th style="display:none;">CodMenuItem</th>
                                                                <th>Menu Item</th>
                                                                <th>Actividad</th>
                                                                <th>Opciones</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>                                                             
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="btnform">
                                                                        <button class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-success" name='agregarPermiso' id='agregarPermiso'>Agregar</button>
                                                                    </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                    </div>
                </div>
            </div>
            <!--{{> AppFooter/footer }}-->
        </div>
    </div>
{{/ base }}
