{{#> base }}
    <div class="app-main">
        {{> AppSidebar/sidebar components-calendar=this }}
        <div class="app-main__outer">
            <div class="app-main__inner">
                {{> AppHeader/header }}
                <div class="app-inner-layout app-inner-layout-page">
                    <div class="app-inner-bar">
                        {{> AppInnerBar/inner-bar-left-alt }}
                        <div class="inner-bar-center">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a role="tab" data-toggle="tab" id="tab-nav-0" class="nav-link active"
                                       href="#tab-content-0">
                                        <span>Basic Calendar</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a role="tab" data-toggle="tab" id="tab-nav-1" class="nav-link"
                                       href="#tab-content-1">
                                        <span>List View</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a role="tab" data-toggle="tab" id="tab-nav-2" class="nav-link"
                                       href="#tab-content-2">
                                        <span>Background Events</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                       class="nav-link opacity-8">
                                        <span>More</span>
                                        <i class="fa fa-angle-down ml-1 opacity-6"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true"
                                         class="dropdown-menu-right rm-pointers dropdown-menu-shadow dropdown-menu-hover-link dropdown-menu">
                                        <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                        <button type="button" tabindex="0" class="dropdown-item"><i
                                                class="dropdown-icon lnr-inbox"> </i><span>Menus</span></button>
                                        <button type="button" tabindex="0" class="dropdown-item"><i
                                                class="dropdown-icon lnr-file-empty"> </i><span>Settings</span></button>
                                        <button type="button" tabindex="0" class="dropdown-item"><i
                                                class="dropdown-icon lnr-book"> </i><span>Actions</span></button>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <div class="p-3 text-right">
                                            <button class="mr-2 btn-shadow btn-sm btn btn-link">View Details</button>
                                            <button class="mr-2 btn-shadow btn-sm btn btn-primary">Action</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {{> AppInnerBar/inner-bar-right }}
                    </div>
                    <div class="app-inner-layout__wrapper">
                        <div class="app-inner-layout__content">
                            <div class="tab-content">
                                <div class="tab-pane tabs-animation fade show active" id="tab-content-0"
                                     role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <div id='calendar'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <div id='calendar-list'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <div id="calendar-bg-events"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> AppFooter/footer }}
        </div>
    </div>
{{/ base }}
