{{#> base }}
    <div class="app-main">
        {{> AppSidebar/sidebar components-image-crop=this }}
        <div class="app-main__outer">
            <div class="app-main__inner">
                {{> AppHeader/header }}
                <div class="app-inner-layout app-inner-layout-page">
                    <div class="app-inner-layout__wrapper">
                        <div class="app-inner-layout__content pt-1">
                            <div class="tab-content">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <div class="card-title">Image Cropper</div>
                                                    <div>
                                                        <img src="assets/images/originals/fence-small.jpg"
                                                             id="image-crop" alt="Picture">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <div class="card-title">Preview</div>
                                                    <div class="text-center">
                                                        <div class="preview d-inline-block"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> AppFooter/footer }}
        </div>
    </div>
{{/ base }}
