<div class="nav flex-column">
    <div class="nav-item-header text-primary nav-item">
        Dashboards Examples
    </div>
    <a class="dropdown-item{{#if dash-analytics}} active{{/if}}" href="analytics-dashboard.html">Analytics</a>
    <a class="dropdown-item{{#if dash-management}} active{{/if}}" href="management-dashboard.html">Management</a>
    <a class="dropdown-item{{#if dash-advertisement}} active{{/if}}" href="advertisement-dashboard.html">Advertisement</a>
    <a class="dropdown-item{{#if dash-helpdesk}} active{{/if}}" href="index.html">Helpdesk</a>
    <a class="dropdown-item{{#if dash-monitoring}} active{{/if}}" href="monitoring-dashboard.html">Monitoring</a>
    <a class="dropdown-item{{#if dash-crypto}} active{{/if}}" href="crypto-dashboard.html">Cryptocurrency</a>
    <a class="dropdown-item{{#if dash-pm}} active{{/if}}" href="pm-dashboard.html">Project Management</a>
    <a class="dropdown-item{{#if dash-product}} active{{/if}}" href="product-dashboard.html">Product</a>
    <a class="dropdown-item{{#if dash-statistics}} active{{/if}}" href="statistics-dashboard.html">Statistics</a>
</div>