{{#> base }}
    <div class="app-main">
        {{> AppSidebar/sidebar forms-datepicker=this }}
        <div class="app-main__outer">
            <div class="app-main__inner">
                {{> AppHeader/header }}
                <div class="app-inner-layout app-inner-layout-page">
                    <div class="app-inner-bar">
                        {{> AppInnerBar/inner-bar-left-alt }}
                        <div class="inner-bar-center">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a role="tab" data-toggle="tab" id="tab-nav-0" class="nav-link active"
                                       href="#tab-content-0">
                                        <span>Datepicker</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a role="tab" data-toggle="tab" id="tab-nav-1" class="nav-link"
                                       href="#tab-content-1">
                                        <span>Date Range Picker</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                       class="nav-link opacity-8">
                                        <span>More</span>
                                        <i class="fa fa-angle-down ml-1 opacity-6"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true"
                                         class="dropdown-menu-right rm-pointers dropdown-menu-shadow dropdown-menu-hover-link dropdown-menu">
                                        <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                        <button type="button" tabindex="0" class="dropdown-item"><i
                                                class="dropdown-icon lnr-inbox"> </i><span>Menus</span></button>
                                        <button type="button" tabindex="0" class="dropdown-item"><i
                                                class="dropdown-icon lnr-file-empty"> </i><span>Settings</span></button>
                                        <button type="button" tabindex="0" class="dropdown-item"><i
                                                class="dropdown-icon lnr-book"> </i><span>Actions</span></button>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <div class="p-3 text-right">
                                            <button class="mr-2 btn-shadow btn-sm btn btn-link">View Details</button>
                                            <button class="mr-2 btn-shadow btn-sm btn btn-primary">Action</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {{> AppInnerBar/inner-bar-right }}
                    </div>
                    <div class="app-inner-layout__wrapper">
                        <div class="app-inner-layout__content">
                            <div class="tab-content">
                                <div class="tab-pane tabs-animation fade show active" id="tab-content-0"
                                     role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Basic</h5>
                                                        <input type="text" class="form-control"
                                                               data-toggle="datepicker"/>
                                                    </div>
                                                </div>
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Inline</h5>
                                                        <div data-toggle="datepicker-inline"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Button Trigger</h5>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control"
                                                                   data-toggle="datepicker-button"/>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-primary datepicker-trigger-btn"
                                                                        type="button">Open Datepicker
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Icon Trigger</h5>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend datepicker-trigger">
                                                                <div class="input-group-text">
                                                                    <i class="fa fa-calendar-alt"></i>
                                                                </div>
                                                            </div>
                                                            <input type="text" class="form-control"
                                                                   data-toggle="datepicker-icon"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Start View Year</h5>
                                                        <input type="text" class="form-control"
                                                               data-toggle="datepicker-year"/>
                                                    </div>
                                                </div>
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Start View Month</h5>
                                                        <input type="text" class="form-control"
                                                               data-toggle="datepicker-month"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Basic</h5>
                                                        <input type="text" class="form-control" name="daterange"
                                                               value="01/01/2018 - 01/15/2018"/>
                                                    </div>
                                                </div>
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Single Datepicker</h5>
                                                        <input type="text" class="form-control" name="birthday"
                                                               value="10/24/1984"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">With Times</h5>
                                                        <input type="text" class="form-control" name="datetimes"/>
                                                    </div>
                                                </div>
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Predefined Date Ranges</h5>
                                                        <button class="btn btn-primary" id="reportrange">
                                                            <i class="fa fa-calendar pr-1"></i>
                                                            <span></span>
                                                            <i class="fa pl-1 fa-caret-down"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Complex Example</h5>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="fa fa-calendar-alt"></i>
                                                                </div>
                                                            </div>
                                                            <input type="text" class="form-control"
                                                                   name="daterange-centered"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> AppFooter/footer }}
        </div>
    </div>
{{/ base }}
